<style type="text/css">
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
        unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
    }
    .body {
        width: 90%;
        margin: auto;
        font-family: 'Open Sans', 'Helvetica', sans-serif;
        font-size: 12px;
        color: #000000;
    }
    .content {
        padding: 20px;
    }
    .footer {
        color: rgb(70, 70, 70);
        font-style: italic;
    }
    .bold {
        font-weight: bold;
    }
    h1 {
        font-size: 14px;
        font-weight: bold;
    }
    td {
        padding-right: 20px;
    }
</style>

<div class="body">
    <h1>Error Log | {{ title }}</h1>
    <hr>
    <br>
    <div class="content">
        <table>
            <tr>
                <td class="bold">App name</td>
                <td>{{ title }}</td>
            </tr>
            <tr>
                <td class="bold">App version</td>
                <td>{{ version }}</td>
            </tr>
            <tr>
                <td class="bold">Username</td>
                <td>{{ username }}</td>
            </tr>
            <tr>
                <td class="bold">Hostname</td>
                <td>{{ hostname }}</td>
            </tr>
            <tr>
                <td class="bold">Error</td>
                <td>{{ error }}</td>
            </tr>
        </table>
    </div>
    <br>
    <hr>
    <br>
    <div class="footer">
        This mail has been automatically sent by pytia_ui_tools.
    </div>
</div>